:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

/* .container-dash {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: .8em;
    margin-bottom: 1em;
    overflow-x: auto;
} */

.status-pending {
  background-color: #fff0c2;
  color: #a68b00;
}

.status-paid {
  background-color: #c8e6c9;
  color: #388e3c;
}

.status--unpaid {
  background-color: #ffcdd2;
  color: #c62828;
}

.btnAlterarStatus{
  margin: 0;
  border: 0;
  background: transparent;
  width: 100%;
}

/* .container-dash input,
textarea,
selct {
    margin-bottom: 1em;
    padding: .7em;
    border: 1;
    border-radius: 10px;
    max-width: 600px;
} */

/* .container-dash input:disabled {
    cursor: not-allowed;
} */

/* .container-dash label {
    margin-bottom: .5em;
    font-size: 1.4em;
} */

.btnCalcular {
    padding: 8px 20px;
    background-color: #f2f2f2;
    border: 1px solid #121212;
    border-radius: 5px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table1 {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

thead {
    box-shadow: 0 5px 10px #e1e5ee;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td {
    padding: 1rem 2rem;
}

a {
    text-decoration: none;
    color: #2962ff;
}

.status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}

.status-pending {
    background-color: #fff0c2;
    color: #a68b00;
}

.status-paid {
    background-color: #c8e6c9;
    color: #388e3c;
}

.status--unpaid {
    background-color: #ffcdd2;
    color: #c62828;
}

.amount {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #f4f6fb;
}

.ReactModal__Content{
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;  
}

.ReactModal__Content{
    position: absolute;
    inset: 150px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 15px;
    outline: none;
    padding: 20px;  
}

.ReactModal__Overlay--after-open{
    background-color: rgb(102 102 102 / 75%) !important;
}


.ReactModal__form h2{
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.ReactModal__form input{
    width: 30%; 
    padding: 0 1.5rem;
    height: 3rem;

    border-radius: 0.25rem;
    border: 1px solid #d7d7d7;

    background:#e7e9ee;
    font-weight: 400;

    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

}

.optIcon{
  cursor: pointer;
}

.ReactModal__form select {
  width: 30%;
    padding: 0 1.5rem;
    height: 3rem;
    border-radius: 0.25rem;
    border: 1px solid #d7d7d7;
    background: #e7e9ee;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.ReactModal__form label{
    width: 100%;
    padding: 1.1rem;
    height: 3rem;
    font-weight: 400;
    font-size: 1rem;
}

.actionsArea{
  display: flex;
  justify-content: flex-end;
}   

.ReactModal__Submit:hover{
    background:#07bc0c;
}

.ReactModal__save{
  width: 90%;
  padding: 0 1.5rem;
  height: 3rem;
  background: rgb(1, 173, 1);
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
    margin-left: 2rem;
}

.ReactModal__save:hover{
  background:#07bc0c;
}

.ReactModal__Cancel{
    width: 90%;
    padding: 0 1.5rem;
    height:3rem;
    background:rgb(153, 43, 0);
    color: #fff;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.ReactModal__Cancel:hover{
    background:rgb(184, 52, 0);
}

.ReactModal__Simulate{
    width: 90%;
    padding: 0 1.5rem;
    height:3rem;
    background:rgb(0 75 153);
    color: #fff;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.ReactModal__Simulate:hover{
    background:rgb(1 96 195);
}

.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  height: 82%;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 25%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-bottom: 10px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df;
}

.border-bottom-primary {
  border-bottom: 0.25rem solid #4e73df;
}

.border-left-secondary {
  border-left: 0.25rem solid #858796;
}

.border-bottom-secondary {
  border-bottom: 0.25rem solid #858796;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a;
}

.border-bottom-success {
  border-bottom: 0.25rem solid #1cc88a;
}

.border-left-info {
  border-left: 0.25rem solid #36b9cc;
}

.border-bottom-info {
  border-bottom: 0.25rem solid #36b9cc;
}

.border-left-warning {
  border-left: 0.25rem solid #f6c23e ;
}

.border-bottom-warning {
  border-bottom: 0.25rem solid #f6c23e ;
}

.border-left-danger {
  border-left: 0.25rem solid #e74a3b ;
}

.border-bottom-danger {
  border-bottom: 0.25rem solid #e74a3b ;
}

.border-left-light {
  border-left: 0.25rem solid #f8f9fc ;
}

.border-bottom-light {
  border-bottom: 0.25rem solid #f8f9fc ;
}

.border-left-dark {
  border-left: 0.25rem solid #5a5c69;
}


.text-xs {
  font-size: 1.2rem;
  color: #000000;
}

.h5{
  margin-top:.5rem;
  font-weight: 600;
  color: #5a5c69;
}

.card-por-categoria{
  margin: 10px 0px;
}

.card-por-categoria >a:hover{
  cursor: pointer;
  color: blueviolet;
}


.card-info-categoria{
  display: flex;
}